$sidebar-width:280px;

.sidebar{
    width: $sidebar-width;
    margin-left: -$sidebar-width;
    transition: margin-left 0.2s;
}


.main{
    width: 100%;
    transition: margin-left 0.2s;

}


.sidebar_toggled{
    .sidebar{
        margin-left: 0;
    }
    .main{
        margin-left: $sidebar-width;
    
    }
    
}

.t-green{
    color: #07f177;
}

.sidebar_link{
    position: relative;
    text-decoration:  none;
    
    &:hover{
        background-color: rgba(170, 0, 182, 0.16);
    
    }
    // .active{
    //     background-color: rgba(170, 0, 182, 0.16);
    //     &::before{
    //         content: ""; 
    //         background-color: $primary;
    //         position: absolute;
    //         inset:0px 275px 0px 0px;
    //     }
    // }

}

.sidebar_link.active{
    background-color: rgba(170, 0, 182, 0.16);
        &::before{
            content: ""; 
            background-color: $primary;
            position: absolute;
            top:0;
            bottom:0;
            left:0;
            width: 3px;
        }
}

.logout_style{
    text-decoration:  none;
    color: rgb(62, 62, 62);
    background-color:rgb(238, 238, 238);
    &:hover{
        background-color:rgba(170, 0, 182, 0.16);
    }
}

@include media-breakpoint-up(lg) {
    .sidebar{
        width: $sidebar-width;
        margin-left: 0;
    }
    
    .main{
    width: calc(100vw - $sidebar-width);
    margin-left: $sidebar-width;
    }

    .sidebar_toggled{
        .sidebar{
            margin-left: -$sidebar-width;
        }
        .main{
            width: 100%;
            margin-left: 0;
        }
    }
}


